<!-- Jumbotron Header -->
<div ng-controller="ProductsController">
    <header class="jumbotron hero-spacer">
        <h1>Nuestros Productos!</h1>
        <p>A continuación se aprecia el listado de nuestros productos que usted puede comprar en cualquiera de nuestros establecimientos o por este medio virtual.</p>
        <p><a class="btn btn-primary btn-large">¿Tiene dudas o necesita algún servicio médico? Contáctenos!</a>
        </p>
    </header>

    <hr>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Productos</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="http://placehold.it/800x500" alt="">
                <div class="caption">
                    <h3>Feature Label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>
                        <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
